@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,300;1,600&family=Nunito:ital,wght@0,200;0,1000;1,200&family=Open+Sans:ital,wght@0,300;1,300;1,800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: #ffffff; 
  --charcoal: #212529;
  --danger: #ff0000;
  --primary: #40916c; 
  --primary1: #e5e5e5; 
  --primary2: #86888a;
  --primary3: #52b788; 

}

@layer base {
  body {
    @apply w-full font-[Quicksand] 
  }
  .dark {
    @apply bg-[var(--charcoal)] text-[var(--default)]
  }
  .main {
    @apply max-w-[1200px] mx-auto
  }
  .nav-scroll {
    @apply pt-32
  }
  .nav-links {
    @apply px-4
  }
  .mob-links {
    @apply px-4 pt-8 border-b mx-4
  }
  .input-fields {
    @apply my-3 py-2 px-1 rounded dark:bg-[var(--charcoal)] 
  }
  .btn {
    @apply bg-[var(--primary)] my-2 w-full py-2 rounded hover:bg-[var(--primary3)] hover:text-[var(--primary1)]
  }
}